/*Burger button*/
body {
  font-family: sans-serif;
  margin: 0;
}

.section {
  height: 100vh;
  background-color: #8ddaee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu-btn {
  display: block;
  width: 10%;
  height: 10%;
  background-color: transparent;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-burger,
.btn-burger::before,
.btn-burger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  margin-top: -1px;
  margin-left: -20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-burger::before,
.btn-burger::after {
  content: '';
  display: block;
}

.btn-burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 30px;
}

.btn-burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 20px;
}

.menu-btn:hover {
  background-color: #e23abe;
  width: 12%;
  height: 12%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-btn:hover .btn-burger {
  width: 20px;
}

.menu-btn:hover .btn-burger::before {
  margin-left: -10px;
  width: 40px;
}

.menu-btn:hover .btn-burger::after {
  margin-left: -10px;
  width: 30px;
}

.menu-btn.menu-btn_active .btn-burger {
  background-color: transparent;
}

.menu-btn.menu-btn_active .btn-burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 40px;
}

.menu-btn.menu-btn_active .btn-burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 40px;
}

.menu-btn.menu-btn_active::before:hover,
.menu-btn.menu-btn_active::after:hover {
  width: 40px;
  margin-left: -0px;
}

/*Square with 3D*/
.screen-wrapper {
  margin-top: 150px;
  margin-left: 35%;
  width: 30%;
  height: 50%;
  background-color: rgba(247, 241, 241, 0.5);
}

.rotate.rotate_active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: 1s;
  transition: 1s;
  height: 100%;
  cursor: pointer;
}

.rotate img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.rotate img,
.rotate video {
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.rotate video {
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -o-object-fit: cover;
     object-fit: cover;
}

.lala {
  width: 50%;
  height: 50%;
}
/*# sourceMappingURL=index.css.map */